{
  region : {
    replica_info : {
      id:1,
      ip:"127.0.0.1",
      port: 18881,
    },
    replica_info : {
      id:2,
      ip:"127.0.0.1",
      port: 18882,
    },
    replica_info : {
      id:3,
      ip:"127.0.0.1",
      port: 18883,
    },
    replica_info : {
      id:4,
      ip:"127.0.0.1",
      port: 18884,
    },
    replica_info : {
      id:5,
      ip:"127.0.0.1",
      port: 18885,
    },
    replica_info : {
      id:6,
      ip:"127.0.0.1",
      port: 18886,
    },
    replica_info : {
      id:7,
      ip:"127.0.0.1",
      port: 18887,
    },
    replica_info : {
      id:8,
      ip:"127.0.0.1",
      port: 18888,
    },
    replica_info : {
      id:9,
      ip:"127.0.0.1",
      port: 18889,
    },
    replica_info : {
      id:10,
      ip:"127.0.0.1",
      port: 18890,
    },
    replica_info : {
      id:11,
      ip:"127.0.0.1",
      port: 18891,
    },
    replica_info : {
      id:12,
      ip:"127.0.0.1",
      port: 18892,
    },
    replica_info : {
      id:13,
      ip:"127.0.0.1",
      port: 18893,
    },
    replica_info : {
      id:14,
      ip:"127.0.0.1",
      port: 18894,
    },
    replica_info : {
      id:15,
      ip:"127.0.0.1",
      port: 18895,
    },
    replica_info : {
      id:16,
      ip:"127.0.0.1",
      port: 18896,
    },
    replica_info : {
      id:17,
      ip:"127.0.0.1",
      port: 18897,
    },
    replica_info : {
      id:18,
      ip:"127.0.0.1",
      port: 18898,
    },
    replica_info : {
      id:19,
      ip:"127.0.0.1",
      port: 18899,
    },
    replica_info : {
      id:20,
      ip:"127.0.0.1",
      port: 18900,
    },
    replica_info : {
      id:21,
      ip:"127.0.0.1",
      port: 18901,
    },
    replica_info : {
      id:22,
      ip:"127.0.0.1",
      port: 18902,
    },
    region_id: 1,
  },
  self_region_id:1,
}
