{
  region : {
    replica_info : {
      id:1,
      ip:"127.0.0.1",
      port: 18881,
    },
    replica_info : {
      id:2,
      ip:"127.0.0.1",
      port: 18882,
    },
    replica_info : {
      id:3,
      ip:"127.0.0.1",
      port: 18883,
    },
    replica_info : {
      id:4,
      ip:"127.0.0.1",
      port: 18884,
    },
    region_id: 1,
  },
  self_region_id:1,
}
